/*
Theme: Esta También Es Tu Pepsi
Version: 2
Author: Oet Capital
4 de Noviembre 2018
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
ol, ul {list-style: none; }
#s{ display: none; }
* {margin: 0; padding: 0; box-sizing: border-box; }
* a {cursor: pointer; text-decoration: none; }
* i {font-style: italic; } * p { font-size: 1rem;}
.trans5 {-webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.dislplayNone{ display:none }
.flexDisplay{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.standarWindow{ position: absolute; top: 0; left: 0; width: 100vw; min-width: 300px; height: 100vh; }
.rot180{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
@font-face { font-family: 'Sofia Black'; src: url('../fonts/sfp-black.eot'); src: url('../fonts/sfp-black?#iefix') format('embedded-opentype'), url('../fonts/sfp-black.woff2') format('woff2'), url('../fonts/sfp-black.woff') format('woff'), url('../fonts/sfp-black.ttf') format('truetype'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Sofia Regular'; src: url('../fonts/sfp-regular.eot'); src: url('../fonts/sfp-regular?#iefix') format('embedded-opentype'), url('../fonts/sfp-regular.woff2') format('woff2'), url('../fonts/sfp-regular.woff') format('woff'), url('../fonts/sfp-regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
body {
  font-family: 'Sofia Black', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 250px;
  font-size: 16px;
  font-weight: bold;
  color: #2c4d78;
  background: #FFF;
  overflow-x: hidden;
  height: 100vh;
  text-transform: uppercase;
 }
nav{
  position: absolute;
  width: calc(100vw - 30px);
  left: 15px;
  height: 50px;
  z-index: 15;
  top: 15px;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  opacity: 0;
}
nav>a{
  display: block;
  width:50px;
  height:50px;
}
nav>img{ height: 35px; }
@-webkit-keyframes loaderSpan { 0%{ height: 10%;} 50%{ height: 100%;} 100%{height: 10%} }
@-moz-keyframes loaderSpan { 0%{ height: 10%;} 50%{ height: 100%;} 100%{height: 10%} }
@-ms-keyframes loaderSpan { 0%{ height: 10%;} 50%{ height: 100%;} 100%{height: 10%} }
@-o-keyframes loaderSpan { 0%{ height: 10%;} 50%{ height: 100%;} 100%{height: 10%} }
@keyframes loaderSpan { 0%{ height: 10%;} 50%{ height: 100%;} 100%{height: 10%} }
@-webkit-keyframes fadeIn{ from{ opacity:0 } to{ opacity:1 } }
@-moz-keyframes fadeIn{ from{ opacity:0 } to{ opacity:1 } }
@-ms-keyframes fadeIn{ from{ opacity:0 } to{ opacity:1 } }
@-o-keyframes fadeIn{ from{ opacity:0 } to{ opacity:1 } }
@keyframes fadeIn{ from{ opacity:0 } to{ opacity:1 } }
#textura{
  width: 100%;
  height: 100%;
  background: red;
}
#scratch{ z-index: 14; }
#scratch>#left_top, #scratch>#right_bottom{
  position: absolute;
  width: 40%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: contain;
}
#scratch>#left_top{
  left: 0;
  top: 0;
  background-image: url('../img/rip-superior.png');
  background-position: 0 0;
}
#scratch>#right_bottom{
  right: 0;
  bottom: 0;
  background-image: url('../img/rip-inferior.png');
  background-position: 100% 100%;
}
#scratch>#center{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.seqContainer{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 960px) {
#scratch>#center{
  width: 100vw;
  left: 0;
}
.seqContainer{ background-size: 70% 100%; }
}
#main, #mensaje{
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 20vh;
  left: 0;
}
#main>#producto{
  width: 100%;
  height: 100%;
}
#main>#producto>div{ height: 100%; }
#main>#producto>#botella{ width: 40%; }
#main>#producto>#info{ width: 50%; }
#main>#producto>#botella{
  background-image: url('../img/pet-pepsi-80.jpg');
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 98% center;
}
.buttonPepsi{
  cursor: pointer;
  display: block;
  width: 140px;
  height: 35px;
  line-height: 37px;
  margin: 0 auto;
  background: #0141A3;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-box-shadow:inset 3px 3px 15px 0px rgba(0,0,0,0.49), 3px 3px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow:3px 3px 15px 0px rgba(0,0,0,0.49), 3px 3px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.49), 3px 3px 3px 0px rgba(0,0,0,0.3);
}
.buttonPepsi>p{ font-size: 0.75rem; }
.buttonPepsi:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#info{
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#info>#obten{
  width: 95%;
  height: 50%;
  margin-left: 2%;
  text-align: center;
}
#info>#obten>img{ width:100px; }
#info>#obten>h3{ font-size: 0.883em; }
#info>#generando{
  width: 95%;
  margin-left: 2%;
  text-align: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  /* opacity: 0; */
}
#info>#generando>h4{ font-size: 0.8rem; text-align: center; line-height: 1; }
#info>#generando>h5{ font-size: 0.6rem; }
#info>#generando>div{
  text-align: center;
  margin: 10px auto;
}
#info>#generando>div>p{ font-size: 0.7rem; }
#info>#generando>div>img{ width: 80px; }
#mensaje{
  top: 40px !important;
  height: 60%;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#mensaje>img{ width: 100px; }
#mensaje>p{
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
}
footer{
  position: absolute;
  left: 15px;
  bottom: 0;
  width: calc(60% - 15px);
  height: 20%;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
footer>h5{ display: none; }
footer>#haz{ display: none; }
footer>h6>#marca{ display: none; }
footer>h6>a{
  color: #2c4d78;
  text-decoration: underline;
}
footer>h5{ font-size: 	0.833em; }
footer>h6{
  font-family: 'Sofia Regular', sans-serif;
  font-size: 0.583em;
}

/* DESKTOP */
@media (min-width: 960px) {
  #scratch>#right_bottom,#scratch>#left_top{
    background-repeat: repeat-y;
    background-size: 100%;
    width: 30%;
    height: 100%;
  }
  #scratch>#left_top{
    background-image: url('../img/rip-left.png');
  }
  #scratch>#right_bottom{
    background-image: url('../img/rip-right.png');
  }

  #main, #mensaje{
    width: 40vw;
    height: calc(100vh - 114.667px);
    left: 30vw;
    top: 65px;
  }
  #main>#producto>#botella, #main>#producto>#info{
    width: 50%;
    height: 100%;
  }
  .buttonPepsi{
    width: 160px;
    height: 40px;
    line-height: 44px;
  }
  .buttonPepsi>p{ font-size: 0.883rem; }
  #info>#obten>h3{ font-size: 1.117em; }
  #info>#obten>img{ width:160px; }
  #info>#generando{
    height: 80%;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
  #info>#generando>h4{ font-size: 1.2rem; }
  #info>#generando>h5{ opacity: 0 }
  #info>#generando>div>p{ font-size: 1rem; }
  #info>#generando>div>img{
    margin: 10px auto;
    width: 110px; }
  #mensaje{ height: 80%; }
  #mensaje>p{ font-size: 1.6rem; }
  #mensaje>img{ width: 140px; }
  footer{
    width: 40vw;
    left: 30vw;
    height: 44.667px;
    bottom: 5px;
    opacity: 0;
  }
  footer>h5{ display: block; }
  footer>#haz{ display: block; }
  footer>h6{font-size: 	0.667em;}
  footer>h6>#hazmob{ display: none; }
}
#preventLandscape, #preventHeight{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #004C7A;
  color: #fff;
  z-index: 99999;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#preventLandscape>p, #preventHeight>p{ margin: 10px auto; }
#pepsilegalmovil{
  display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  position: fixed;
  bottom: 15px;
  width: 90vw;
  left: 5vw;
  z-index: 100;
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* BORDERS */
/* nav{ border:1px solid purple; }
nav>a{ border:1px solid blue; }
#scratch>#left_top, #scratch>#right_bottom{ border:1px solid red; }
#scratch>#center{ border:1px solid blue; }
#main{ border:2px solid yellow; }
#main>#producto>#botella{ border:1px solid green; }
#info>#obten{ border:1px solid red;}
footer{ border: 1px solid purple; }
#generando{ border: 1px solid red; } */
/* #mensaje{ border: 1px solid red; } */

#main>#producto{
  border: 1px solid red;
}

.path {
  stroke-dasharray: 258.8316955566406;
  stroke-dashoffset: 258.8316955566406;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 258.8316955566406;
  }
  to {
    stroke-dashoffset: 0;
  }
}
